body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.color-span{
    color: rgb(248, 106, 5);
}
.flexible-container{
    display: flex;
    margin-bottom: 50px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.linked-button{
    text-decoration: none ;
    background-image: linear-gradient(rgb(136, 8, 8), red);
    font-weight: 700;
    color: white;
    padding: 8px 35px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
}
.second-linked-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(136, 8, 8), red);
    font-weight: 700;
    color: white;
    padding: 8px 50px;
    border-radius: 5px;

}
.mid-banner{
    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.color-h3{
    color: rgb(248, 106, 5);
}
.last-div {
    box-shadow: 10px 10px 15px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 50px;

    
}
.last-banner{
    background-image: url(developer-portfolio-master/images/exp-bg.png);
    background-repeat: no-repeat;
}
#left-border2{
    border-left:5px solid;
    border-image: linear-gradient(cyan,blue);
    border-image-slice: 1;
}
#left-border1{
    border-left: 5px solid;
    border-image:linear-gradient(red,rgb(90, 16, 16));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}